@import"https://fonts.googleapis.com/css?family=Junge:wght@300;600&display=swap";

/* General Styles */
html {
	background-color: #fff;
	color: #202020;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, img, small, strike, strong, b, u, i, center, ol, ul, li, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: Garamond, serif;
	margin: 0;
	padding: 0;
}

/* Header Styles */
header {
	padding: 1rem;
	font-size: 1.5rem;
}

header .navbar-brand {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 44px;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	color: #202020;
	font-family: "Junge", serif;
	padding: 0.625rem;
	text-decoration-thickness: from-font;
	text-underline-offset: 0.5rem;
}

nav a img {
	height: 44px;
}

/* Main Styles */
main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 165px);
}

.zi_Name {
	width: 100%;
	max-width: 829px;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 800px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
}

.content h2 {
	font-family: "Junge", serif;
	flex: 1 1 50%;
}

.content p {
	text-align: justify;
	flex: 1 1 50%;
}

/* Footer Styles */
footer {
	padding: 1rem;
	padding-top: 3rem;
	font-size: 0.875rem;
}