html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: Garamond, serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	background: #fafafa;
	color: gray;
}

svg {
	position: absolute;
	width: 100vw;
	max-width: 829px;
}

main {
	position: relative;
}

section {
	position: relative;
	padding: 10em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	font-family: "Playfair Display", Georgia, serif;
	margin: 0 0 30px 0;
}

p {
	font-family: Garamond, serif;
	font-size: 2rem;
	font-weight: 400;
	text-align: justify;
	margin: 0 0 1.5em 0;
}

img {
	overflow: auto;
}

canvas {
	overflow: auto;
}

footer {
	padding: 0 0 2rem 0;
	font-size: 1.5rem;
}

.preloader {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F0F3F6;
	animation: height100To0 2s ease-in-out forwards;
	animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

.ziLogo {
	filter: invert(99%) sepia(5%) saturate(182%) hue-rotate(243deg) brightness(108%) contrast(83%);
	opacity: 0;
	animation: opacity0To1 1s ease-in-out forwards;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.ziNameDivLight {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ziNameLight {
	filter: invert(95%) sepia(11%) saturate(90%) hue-rotate(170deg) brightness(95%) contrast(91%);
	opacity: 0;
	animation: opacity0To1 1s ease-in-out forwards;
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}

.ziNameDivDark {
	position: absolute;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 0%;
	animation: width0To100 2s ease-in-out forwards;
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}

.ziNameDark {
	filter: invert(11%) sepia(11%) saturate(17%) hue-rotate(322deg) brightness(97%) contrast(96%);
}

.container {
	display: grid;
	grid-template-areas:
		'header header'
		'subHeader subHeader'
		'left right';
	grid-template-columns: 4.5fr 5.5fr;
	margin-right: auto;
	margin-left: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.heading {
	grid-area: header;
}

.subHeading {
	grid-area: subHeader;
	padding: 3em 15px 0 15px;
	margin-bottom: 0em;
}

.leftContent {
	grid-area: left;
	padding-left: 15px;
	margin-right: 4em;
}

.rightContent {
	grid-area: right;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.text-center {
	text-align: center;
}

.bold {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 250px;
	color: #f0f0f0;
	font-weight: 700;
}

.subHeading h2 {
	font-size: 34px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 1.5em;
	color: #000;
	position: relative;
}

.rotate {
	position: absolute;
	padding-top: 8px;
}

	.rotate .verticalHeading {
		font-family: "Karla", Arial, sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1em;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-transform-origin: left top 0;
		-moz-transform-origin: left top 0;
		-ms-transform-origin: left top 0;
		-o-transform-origin: left top 0;
		transform-origin: left top 0;
		position: relative;
		padding-top: 24px;
	}

		.rotate .verticalHeading:after {
			position: absolute;
			top: 32px;
			right: -40px;
			content: '';
			background: #000;
			width: 40px;
			height: 1px;
		}

.animate-box {
	opacity: 0;
}

.barChartDiv {
	min-height: 300px;
}

.growthCheck {
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	align-content: center;
	text-align: center;
}

	.growthCheck p {
		text-align: center;
		margin: 0;
	}

#ziReturn {
	font-size: 8rem;
	padding: 2rem 0;
	color: green;
}

#investedAmount {
	color: blue;
}

#snpReturn {
	color: orange;
}

#slider {
	-webkit-appearance: none;
	background-color: gray;
	height: 2px;
	width: 50%;
	outline: 0;
	margin: 6rem 0;
}

	#slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: blue;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
	}

	#slider::-moz-range-thumb {
		background: blue;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
	}

	#slider::-ms-thumb {
		background: blue;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
	}

#sliderValue {
	background-color: gray;
	color: #fafafa;
	width: 10rem;
	border-radius: 4px;
	position: absolute;
	margin: 1rem 0;
	padding: 0.5rem 0;
}

	#sliderValue::after {
		content: '';
		width: 1rem;
		height: 1rem;
		bottom: -1rem;
		background-color: gray;
		position: absolute;
		transform: translate(-50%, -50%) rotate(45deg);
		left: 50%;
	}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media screen and (max-width: 850px) {
	.bold {
		font-size: 200px;
	}
}

@media screen and (max-width: 775px) {
	section {
		padding: 4em 0;
	}

	.container {
		grid-template-areas:
			'header'
			'subHeader'
			'left'
			'right';
		grid-template-columns: 1fr;
	}

	.bold {
		font-size: 90px;
	}

	.subHeading {
		padding: 0;
	}

	.leftContent {
		padding: 0;
		margin: 0;
	}

	img {
		padding: 5em 0;
	}

	p {
		padding: 0;
	}

	.barChartDiv {
		margin: 0 0 1.5em 0;
	}

	#historicalReturnChart {
		padding: 0;
	}
}

::selection {
	color: #fcfcfc;
	background: #b7c2c2;
}
